# Tableau temp files
*.twbr
*.tbm
Book*.twb
Book*.twbx

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/

# Python (agar future mein add karo)
__pycache__/
*.pyc
.venv/

# Large Media & Asset files (Videos)
assets/*.mp4